.pagecontent{
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 50px auto 50px;
    grid-template-areas: 
        "header header"
        "sidebar main"
        "footer footer";
}
.header{
    grid-area: header;
    background-color: azure;
    text-align: center;
}
.sidebar{
    grid-area: sidebar;
    background-color: aquamarine;
}
.main{
    grid-area: main;
    background-color: aqua;
}
.footer{
    grid-area: footer;
    background-color: antiquewhite;
}