<<<<<<< HEAD
=======
.otsikko {
    margin-left: 20%;
}

.text {
    margin-left: 20%;
}

.button {
    margin-left: 40%;
}

.counter {
    margin-left: 37%;
}

.centered {
    margin-left: 33%;
    margin-right: 33%;
}

.gif {
    margin-left: 44%;
}
>>>>>>> 8183ecb443c0b028df27887dc2774ea07d93bd42
