.otsikko {
    margin-left: 20%;
}

.text {
    margin-left: 20%;
}

.button {
    margin-left: 40%;
}

.counter {
    margin-left: 40%;
}

.centered {
    margin-left: 33%;
    margin-right: 33%;
}

.gif {
    margin-left: 44%;
}