iframe {
    border: 1px solid black;
    width: 40%;
}

.output {
    background: #eee;
}

.kartta {
    margin-left: 50px;
    margin-top: 50px;
}

.teksti {
    margin-left: 5%;
}

.otsikko {
    margin-left: 5%;
    margin-top: 100px
}