body{
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    margin: auto;
    background-color: blue;
}

.maincontent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    border-style: solid;
    border-radius: 30px;
    border-width: 1px;
    margin: 10px;
    padding: 5px;
    background-color: aqua;
    flex-grow: 1;
    text-align: center;
    flex-direction: column;
}

.card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

