body{
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: auto;
}

.maincontent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    border-style: solid;
    margin: 10px;
}

